.gauge-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.gauge-center-text {
  position: absolute;
  top: 55%; /* Adjusted for the 270-degree rotation */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gauge-percentage {
  display: block;
  font-size: 2.2rem;
  font-weight: 800;
  color: #fff;
}

.gauge-label {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.guage-img {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  display: block;
}
