.stats-card {
  flex: 1;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: rgba(79, 13, 155, 0.602);
  margin: 10px;
  padding: 10px;
}

.icon {
  height: 40px;
  width: 40px;
  padding: 5px;
}

/* Specific Glowing Variations */

.stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.stat-price {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.stat-graph-container {
  height: 60px;
  margin-top: 10px;
}
.coin-text {
  display: flex;
  flex-direction: column;
}
.coin-name {
  font-size: 0.8rem;
  font-weight: 300;
}

.coin-symbol {
  font-size: 1.5rem;
  font-weight: 400;
}
.percentage {
  font-size: 0.7rem;
}
.percent-span {
  padding: 5px;
  margin: 10px;
}
